# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
.build/
.dist/
.python-version
.env
.venv
venv/
.env*/
.Python
pip-wheel-metadata/

# Tools
.mypy_cache/
.pytest_cache/
coverage.xml
htmlcov/

# Data/Artifacts
models/
logs/
.data/
*.sqlite3

# OS
.DS_Store
Thumbs.db
